# MANDATORY for PRODUCTION
BREVO_API_KEY=put_your_brevo_api_key_here
BREVO_FROM_EMAIL=sender@yourdomain.com
MONGO_URI=mongodb+srv://.../yourProductionDb?retryWrites=true&w=majority
UPSTASH_REDIS_REST_URL=https://your-upstash-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_token_here

# OTHER REQUIRED ENV
PORT=5000
NODE_ENV=production
FRONTEND_URL=https://your-frontend-url.com
PAYSTACK_SECRET_KEY=sk_test_...
PAYSTACK_PUBLIC_KEY=pk_test_...
# ... more unrelated mail vars can be ignored ...
